**1. Loading and Preprocessing **(replace missing values with 0)

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the CSV file into a DataFrame
df = pd.read_csv('Country_des_id.csv')

# Fill missing values in 'Value' column with 0
df['Value'].fillna(0, inplace=True)

# Filter data for the years 2018 to 2022
df_filtered = df[df['TIME'].between(2018, 2022)]

**2. Determine the Top 10 Destinations for Each Year**

To visualize the top 10 destinations per year, we need to group the data by both 'Country' and 'TIME' and then sort it for each year

In [13]:
# Initialize an empty list to store ranking tables
ranking_tables = []

# Loop through each year to generate rankings
for year in range(2018, 2023):
    # Filter data for the current year
    df_year = df_filtered[df_filtered['TIME'] == year]

    # Rank countries by number of students in descending order
    df_year_ranked = df_year.sort_values(by='Value', ascending=False).reset_index(drop=True)

    # Assign a rank column
    df_year_ranked['Rank'] = df_year_ranked['Value'].rank(ascending=False, method='min').astype(int)

    # Extract the top 10 countries
    top10 = df_year_ranked.head(10)

    # Check if Republic of Korea is in the top 10; if not, add it
    if 'Republic of Korea' not in top10['Country'].values:
        korea_row = df_year_ranked[df_year_ranked['Country'] == 'Republic of Korea']
        top10 = pd.concat([top10, korea_row])

    # Add the year column
    top10['Year'] = year

    # Append the table to the list
    ranking_tables.append(top10[['Year', 'Country', 'Value', 'Rank']])

# Combine all ranking tables into one DataFrame
final_ranking_table = pd.concat(ranking_tables, ignore_index=True)

# Display the final ranking table
print(final_ranking_table)

    Year                                            Country        Value  Rank
0   2018                                          Australia  12180.00000     1
1   2018                           United States of America   8452.13687     2
2   2018                                              Japan   4187.00000     3
3   2018  United Kingdom of Great Britain and Northern I...   2986.00000     4
4   2018                                            Germany   2419.00000     5
5   2018                                       Saudi Arabia   1715.00000     6
6   2018                                        Netherlands   1569.00000     7
7   2018                                  Republic of Korea   1006.00000     8
8   2018                                             Canada    950.51968     9
9   2018                                             France    808.00000    10
10  2019                                          Australia  13880.00000     1
11  2019                                           Malaysia   8440.00000     2
12  2019                                              Japan   4722.00000     3
13  2019  United Kingdom of Great Britain and Northern I...   3087.00000     4
14  2019                                            Germany   2460.00000     5
15  2019                                       Saudi Arabia   1453.00000     6
16  2019                                        Netherlands   1373.00000     7
17  2019                                            Türkiye   1218.00000     8
18  2019                                             Canada   1101.00000     9
19  2019                                  Republic of Korea   1087.00000    10
20  2020                                          Australia  12852.00000     1
21  2020                                           Malaysia   9902.00000     2
22  2020                           United States of America   8038.85670     3
23  2020                                              Egypt   5937.00000     4
24  2020                                              Japan   5095.00000     5
25  2020  United Kingdom of Great Britain and Northern I...   3420.00000     6
26  2020                                            Germany   2832.00000     7
27  2020                                            Türkiye   1664.00000     8
28  2020                                       Saudi Arabia   1551.00000     9
29  2020                                             Canada   1362.00000    10
30  2020                                  Republic of Korea   1078.00000    11
31  2021                                          Australia  11683.00000     1
32  2021                                           Malaysia   9874.00000     2
33  2021                           United States of America   7445.48219     3
34  2021                                              Japan   5086.00000     4
35  2021  United Kingdom of Great Britain and Northern I...   3124.00000     5
36  2021                                            Germany   2886.00000     6
37  2021                                            Türkiye   2252.00000     7
38  2021                                       Saudi Arabia   1934.00000     8
39  2021                                             Canada   1437.00000     9
40  2021                                  Republic of Korea   1185.00000    10
41  2022                                          Australia  11516.00000     1
42  2022                                           Malaysia   9862.00000     2
43  2022  United Kingdom of Great Britain and Northern I...   3676.00000     3
44  2022                                       Saudi Arabia   2001.00000     4
45  2022                                  Republic of Korea   1417.00000     5
46  2022                                             France    828.20480     6
47  2022     China, Hong Kong Special Administrative Region    679.00000     7
48  2022                                           Thailand    587.00000     8
49  2022                                 Russian Federation    516.00000     9
50  2022                                             Jordan    445.00000    10

<ipython-input-13-13b215ea6853>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top10['Year'] = year
<ipython-input-13-13b215ea6853>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top10['Year'] = year
<ipython-input-13-13b215ea6853>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top10['Year'] = year
<ipython-input-13-13b215ea6853>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top10['Year'] = year